/* Select the google font, must be imported first*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Brand Colours */
    --color-primary: var(--color-gray-500);
    --color-secondary: var(--color-gray-700);
    --color-accent: var(--color-gray-300);
    --color-text: var(--color-gray-800);
    --color-background: var(--color-gray-50);
    /* Typography */
    --font-primary: 'Inter', sans-serif;
    --text-heading: var(--text-2xl);
    --text-subheading: var(--text-xs);
    /* Box shadows */
    --shadow-primary: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    --shadow-secondary: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    --shadow-accent: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    --shadow-text: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    --shadow-background: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    /* Border radius */
    --rounded-normal: var(--rounded-md)
}